$primaryColor: #C4170C;
$primaryVColor: #262626;
$secondaryColor: #001D3D;
$secondaryVColor: #003566;
$accentColor: #A80000;
$accentVColor: #FFC300;

$fontColor: #000;

$defaultFont: "OpenSans", sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;